<h1>CLIENTES</h1>
{% if latest_client_list %}
    <ul>
    {% for c in latest_client_list %}
        <li><a href="{% url 'fichas:client_detail' c.id %}">{{ c.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No clients are available.</p>
{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'fichas:client_post' %}" method="post">
{% csrf_token %}
    <input type="text" name="name">
    <input type="text" name="country">
<input type="submit" value="Add">
</form>